/* GroupListItem.css */
.group-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 28.13px;
letter-spacing: 0.02em;
text-align: left;

  }
  
  .group-circle {
    width: 68.9px;
    height: 68.9px;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .initials {
    color: white;
    font-weight: bold;
  }
  
  .group-name {
    color: black;
  }
  