.container {
  position: fixed;
  bottom: 0;
  left: 440px; /* Adjust left position as needed */
  width: 72%;
}

.notes-box {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 1020px;
  height: 145px;
  top: 548px; /* Adjust top position as needed */
  left: 440px; /* Adjust left position as needed */
  gap: 0px;
  border-radius: 9px 9px 9px 9px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  position: fixed;
  z-index: 2; /* Ensure the notes box is above the bottom box */
}

textarea {
 
  resize: none;
  border: none;
  outline: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 25px;
  line-height: 34.94px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 1020px;
  height: 145px;
}  

.send-button{
  border:none;
  background: none;
}

.Send-img{
  width: 34.44px;
height: 29px;
top: 650px;
left: 1410px;
gap: 0px;
opacity: 0px;
position: fixed;
}



.bottom-box {
  background-color: #001F8B;

  padding: 10px;
  align-items: center;
  width: 1078px;
  height: 200px;
  top: 520px; /* Adjust top position as needed */
  left: 410px; /* Adjust left position as needed */
  gap: 0px;
  opacity: 0px;
  position: fixed;
  z-index: 1; /* Ensure the bottom box is behind the notes box */

}




.note-item {
margin-bottom: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: fixed;
top: 110px;
  width:68%;
  height: auto;
  
  box-shadow: 0px 4px 20px 0px #00000040;

}

.note-item p {
  margin: 0;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 28.83px;
letter-spacing: 0.035em;
text-align: left;

}

.note-item span {
  font-size: 12px;
  color:#353535;

  display: flex;
  justify-content: flex-end; /* Align the content to the right */
  position: relative;
}

.dot {
  font-size: 25px;
  color: black;
  margin: 0 5px; /* Adjust margin as needed */

}

/* Mobile View */
@media (max-width: 400px) {
  .container {
    position: relative;
  }
  
  .notes-box {
    width: 80%;
    left: 20px;
    height: 10%;
    
  }
  
  .bottom-box {
    width: 100%;
    left: 0;
  }
  .send-button {
    display: block;
  }
  
  .Send-img {
    display: block;
    width: 30px;
    height: 20px;
    top: 600px;
    left: 300px;
    gap: 0px;
    opacity: 0px;
    position: fixed;
  }
  
  textarea {
    width: 80%;
    height: 100%;
  }
  
  .note-item {
    width: 85%;
    left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.Notes-container{
  margin-left: 15px;
  top:100px;
  position: fixed;
  max-height:300px;
  width:70%;
  overflow-y: auto;
}